

#main {
  width: 100%;
  margin: 50px auto;
  text-align: center;

  h1 {
    line-height: 100px;
    color: #d3483e;
  }

  img {
    width: 150px;
    transform: rotate(45deg)
  }
}
#text{
  text-align: center;
  img {
    width: 150px;
    transform: rotate(45deg);
    opacity: .8;
  }
}