/**
* Remove default margin.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin: 0 auto;
  color: #333;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

input[type="botton"]{
  -webkit-appearance:none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"]{
  -webkit-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 000px 1000px whiteinset;
}

.nowrap{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowrap-hide{
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}

.nowra-clamp-one{
  -webkit-line-clamp: 1;
}

.left{float:left;}
.right{float:right;}
.clear:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility: hidden;
}
h1,h2,h3,h4,h5,h6,strong{font-weight:normal;}
em{font-style: normal;}

$deepBlue:#0073ca;
$blue:#44ade5;
$deepGreen:#89c14a;
$green:#a6db6d;
$deepRed:#f7245b;
$red:#ff8181;
$deepOrange:#ff9920;
$orange:#ffc281;

$auDeepBlack:#ccc;
$back1:#e5e5e5;
$back2:#fff;
// $headings: (col-md-1: (1/12)*100+"%",col-md-2: (1/12)*100*2+"%",col-md-3:(1/12)*100*3+"%",col-md-4: (1/12)*100*4+"%",col-md-5: (1/12)*100*5+"%",col-md-6: (1/12)*100*6+"%",col-md-7: (1/12)*100*7+"%",col-md-8: (1/12)*100*8+"%",col-md-9:(1/12)*100*9+"%",col-md-10:(1/12)*100*10+"%",col-md-11:(1/12)*100*11+"%",col-md-12: (1/12)*100*12+"%");
// @each $header, $size in $headings {
//   #{"."+$header} {
//     width: $size;
//     float:left;
//   }
// }
@for $i from 1 through 12{
  .col-md-#{$i}{
    width:percentage((1/12)*$i);
    float:left;
    _display:inline;
    *display:inline;
  }
  .col-md-offset-#{$i}{
    margin-left:percentage((1/12)*$i)

  }
}
.mt10{
  margin-top:10px;
}
.container{
  width:100%;
  .content{
    width:80%;
    margin:0 auto;
    height:auto;
    &:after{
      content:".";
      clear:both;
      display:block;
      height:0;
      overflow:hidden;
      visibility: hidden;
    }
  }
  &:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility: hidden;
  }
}

.form-control{
  width:100%;
  height:32px;
  border:1px solid $auDeepBlack;
  outline:none;
  text-indent: 10px;
  border-radius: 2px;
  line-height: 32px;
  &:focus {
    border:1px solid $deepRed;
   }
}
.form-control-right{
  border:1px solid $deepGreen;
}
.form-control-error{
  border:1px solid $deepRed;
}